__pycache__
.idea
build
apex/
backup/
data/
fig/
logs_new_bk/
logs_new/
.ipynb_checkpoints/
dist
venv
wilds.egg-info
.DS_Store

results/coloredmnist/
results/coloredmnistv2-[color]/

logs/fmow/OursXXXSTUSSL-conf_0
logs/fmow/OursXXXSTUSSL-debug